:root {
  --bg: #fd3a69;
  --btn1: #00ff7c;
  --btn2: blue;
  --btn3: yellow;
  --btn4: #be03fd;
  /* --bg:#fd3a69;
    --btn1:#120078;
    --btn2:#fecd1a;
    --btn3:#9d0191;
    --btn4:#008891; */
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  font-family: 'Audiowide', cursive;
  color: white;
  text-align: center;
}

h1 {
  margin: 5rem;
  margin-bottom: 0;
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

footer {
  margin-top: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 50px 0;
}

.btn {
  width: 250px;
  height: 250px;
  margin: 1rem;
  border: 0.5rem solid black;
  border-radius: 20px;
}

.theme {
  position: absolute;
  right: 10px;
  top: 5px;
  background: white;
  padding: 10px;
  border: 5px solid;
  border-radius: 8px;
  font-size: 1rem;
  color: black;
}

.btn1 {
  background-color: var(--btn1);
}

.btn2 {
  background-color: var(--btn2);
}

.btn3 {
  background-color: var(--btn3)
}

.btn4 {
  background-color: var(--btn4)
}

.pressed {
  box-shadow: 3px grey;
  /* opacity: 0.5; */
  width: 260px;
  height: 260px;
}

h3 {
  display: none;
  background-color: orange;
  border-radius: 100%;
  font-size: 5rem;
  border: 5px solid black;
  color: black;
}

/* OPTIMIZED FOR TABLETS */
@media (max-width:1050px) {
  .theme {
    position: static;
    background: white;
    padding: 20px 0;
    width: 30%;
    margin: auto;
    margin-top: 30px;
  }

  h1 {
    margin-top: 3rem;
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
  }

  h4 {
    display: none;
  }

  h3 {
    display: block;
    margin: 50px auto 30px;
    width: 100px;
    height: 100px;
    line-height:1;
  }

  footer {
    width: 100%;
    margin: 25% auto 0;
  }
}
/* OPTIMIZED FOR MOBILE */

@media (max-width:600px) {
  .btn {
    width: 120px;
    height: 120px;
    margin: 1%;
    border: 0.5rem solid black;
    border-radius: 20px;
  }

  .pressed {
    box-shadow: 3px grey;
    /* opacity: 0.5; */
    width: 130px;
    height: 130px;
  }

  .theme {
    padding: 10px 0;
    margin-top: 15%;
  }

  h3 {
    width: 50px;
    height: 50px;
    font-size: 50px;
    line-height:1;

  }
  h1{
    font-size: 1rem;
  }

  footer {
    width: 100%;
    margin: auto;
  }
}
